body{
	background-color:#D2B48C;
}

table{
    background-color:white;

}

th{
    background-color: #FFFF99;
    color:#696969;
   
}

td{
    background-color: #F08080;
    color:#FFFFFF;
   
}
table, td, th {
    border: 1px solid white;
}

form{
    height:150px;
    width: 200px;
    background-color: #F08080;
 
}

label{
   background-color: #F08080;
    color:#FFFFFF;
    width:100px;   
}

h1{
    color:#696969;
}

a{
    color:#696969;
}