body{
	background-color:#D2B48C;
}

table{
    background-color:#FFFF99;
    border-collapse: collapse;
}

th{
    background-color: #FFFF99;
    color:#696969;
   
}

td{
    background-color: #F08080;
    color:#FFFFFF;
   
}
table, td, th {
    border: 1px solid white;
}

input [readonly] {
    background-color:gray;
}
form{

    background-color: #F08080;
    width: 300px;
}

label{
   background-color: #F08080;
    color:#FFFFFF;
  
}

h1{
    color:#696969;
}

a{
    color:#696969;
}

.right {
    text-align:right;
}

.add td {
border:none;
height:25px;
padding:10px;
font-weight:bold;
}

.update td{
border:none;
height:25px;
padding:10px;
font-weight:bold;    
}